.table-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 2.8rem;
  font-weight: 800;
  margin-bottom: 60px;
  color: #1e293b;
  background: linear-gradient(to right, #2563eb, #16a34a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.styled-table thead tr {
  background-color: #4CAF50;
  color: #fff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #ddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

.styled-table tbody tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #4CAF50;
}


.back-button {
  background-color: #28a745; /* vert principal */
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.back-button:hover {
  background-color: #218838;
  transform: translateY(-2px);
}
