/* Fond général */
.home {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: linear-gradient(135deg, #f9fafb, #eef2ff);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 20px;
}

/* Titre */
.home-title {
  font-size: 2.8rem;
  font-weight: 800;
  margin-bottom: 60px;
  color: #1e293b;
  background: linear-gradient(to right, #2563eb, #16a34a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Conteneur boutons */
.home-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  flex-direction: row ;
  align-items: center;
}

/* Style de base des boutons */
.btn {
  padding: 18px 40px;
  border: none;
  border-radius: 14px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

/* Bouton bleu */
.btn-blue {
  background-color: #2563eb;
  color: white;
}

.btn-blue:hover {
  background-color: #1d4ed8;
  transform: translateY(-4px) scale(1.05);
}

/* Bouton vert */
.btn-green {
  background-color: #16a34a;
  color: white;
}

.btn-green:hover {
  background-color: #15803d;
  transform: translateY(-4px) scale(1.05);
}
